* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./img/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#linkwebsite {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: relative;
    max-width: 90%;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

#myAudio {
    display: none;
}

#img-santa {
    object-fit: cover;
    width: 100%;
    max-width: 100vw; /* Sử dụng đơn vị vw để giữ hình ảnh không quá rộng */
    transition: transform 9s linear;
}

#img-santa.move {
    transform: translateX(100%); /* Sử dụng đơn vị vw */
}

/*Ẩn 000webhost*/
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
