* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background: url(./img/1I9F3NY-1920x1080-christmas-wallpaper.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Đặt flex-direction thành column để chia thành cột và đảm bảo phần tử con xuống dòng */
    justify-content: center;
    align-items: center;
}

#letter-container {
    color: rgb(174, 49, 30);
    font-size: 30px;
}

button {
    display: block; /* Đặt display thành block để button xuống dòng */
    margin-top: 10px; /* Tăng khoảng cách giữa letter-container và button */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
